<div>
   <img class="port-login" src="img/portadas/accesorios.png" alt=""> 
</div>

<div class="container-fluid p-5 ">
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
      <div class="vendido">
        <a href=""><img src="img/accesorio/anillo-blue-1-2.png" class="card-img-top img-beuty" alt="...">
        <div class="hover-vendido">
         <img src="img/accesorio/anillo-blue-2-2.png" alt="">
        </div></a>
      </div>
        
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">ANILLO BLUE</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
         <a href=""><img src="img/accesorio/set-anillo-1-2.png" class="card-img-top img-beuty " alt="...">
       <div class="hover-vendido">
         <img src="img/accesorio/set-anillo-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">SET ANILLOS </p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
      <div class="vendido">
        <a href=""><img src="img/accesorio/aros-pink-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
         <img src="img/accesorio/aros-pink-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">AROS PINK</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
         <a href=""><img src="img/accesorio/aros-black-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
         <img src="img/accesorio/aros-black-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">AROS BLACK</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
      <div class="vendido">
        <a href=""><img src="img/accesorio/collar-cadena-1-2.png" class="card-img-top img-beuty" alt="...">
        <div class="hover-vendido">
         <img src="img/accesorio/collar-cadena-2-2.png" alt="">
        </div></a>
      </div>
        
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">COLLAR MULTICOLOR</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
        <a href=""><img src="img/accesorio/collar-arcoiris-1-2.png" class="card-img-top img-beuty " alt="...">
       <div class="hover-vendido">
         <img src="img/accesorio/collar-arcoiris-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">COLLAR MULTICADENA</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
      <div class="vendido">
         <a href=""><img src="img/accesorio/pulsera-color-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
         <img src="img/accesorio/pulsera-color-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">PULSERA MULTICOLOR</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
        <a href=""><img src="img/accesorio/set-pulsera-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
         <img src="img/accesorio/set-pulsera-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">SET PULSERA </p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
</div>