 <div>
   <img class="port-login" src="img/beuty/Gift-card (3).png" alt=""> 
</div>
<div class="container-fluid p-5 ">
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
      <div class="vendido">
         <a href=""><img src="img/beuty/base-glow-1-2.png" class="card-img-top img-beuty " alt="...">
        <div class="hover-vendido">
          <img src="img/beuty/base-glow-2-2.png" alt="">
        </div></a>
      </div>
       <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">BASE GLOW</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
        <div class="vendido">
         <a href=""><img src="img/beuty/base-polvo-1-2.png" class="card-img-top img-beuty " alt="...">
        <div class="hover-vendido">
          <img src="img/beuty/base-polvo-2-2.png" alt="">
        </div></a>
      </div>
      
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">BASE POLVO</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
        <div class="vendido">
         <a href=""><img src="img/beuty/cont-colors-1-2.png" class="card-img-top img-beuty " alt="...">
        <div class="hover-vendido">
          <img src="img/beuty/cont-colors-2-2.png" alt="">
        </div></a>
      </div>
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">PALETA DE OJOS</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
         <div class="vendido">
         <a href=""><img src="img/beuty/labial-nud-1-2.png" class="card-img-top img-beuty " alt="...">
        <div class="hover-vendido">
          <img src="img/beuty/labial-nud-2-2.png" alt="">
        </div></a>
      </div>
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">LABIAL</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
       <div class="vendido">
         <a href=""><img src="img/beuty/de-black-1-2.png" class="card-img-top img-beuty " alt="...">
        <div class="hover-vendido">
          <img src="img/beuty/de-black-2-2.png" alt="">
        </div></a>
      </div>
        
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">DELINEADOR BLACK</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
         <a href=""><img src="img/beuty/rimel-black-1-2.png" class="card-img-top img-beuty " alt="...">
        <div class="hover-vendido">
          <img src="img/beuty/rimel-black-2-2.png" alt="">
        </div></a>
      </div>
      
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">RIMEL BLACK</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
      <div class="vendido">
         <a href=""><img src="img/beuty/lapde-black-1-2.png" class="card-img-top img-beuty " alt="...">
        <div class="hover-vendido">
          <img src="img/beuty/lapde-black-2-2.png" alt="">
        </div></a>
      </div>
       
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">LAPIZ DE OJOS BLACK</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
         <a href=""><img src="img/beuty/palet-colors-1-2.png" class="card-img-top img-beuty " alt="...">
        <div class="hover-vendido">
          <img src="img/beuty/palet-colors-2-2.png" alt="">
        </div></a>
      </div>
      
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">PALETA DE OJOS</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
</div>


