<div>
   <img class="port-login" src="img/portadas/coleccion.png" alt=""> 
</div>

<!-- CARTERAS -->
<div class="container-fluid p-5 ">

<div class=" ">
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
      <div class="vendido">
       <a href=""><img src="img/carteras/ban-purpura-1-2.png" class="card-img-top img-beuty" alt="...">
        <div class="hover-vendido">
          <img src="img/carteras/ban-purpura-2-2.png" alt="">
        </div></a>
      </div>
        
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">BANDOLERA PURPURA</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
         <a href=""><img src="img/carteras/cart-black-1-2.png" class="card-img-top img-beuty " alt="...">
        <div class="hover-vendido">
          <img src="img/carteras/cart-black-2-2.png" alt="">
        </div></a>
      </div>
       
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">CARTERA BLACK NIGHT</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
        <a href=""><img src="img/carteras/cart-blue-1-2.png" class="card-img-top img-beuty" alt="...">
        <div class="hover-vendido">
          <img src="img/carteras/cart-blue-2-2.png" alt="">
        </div></a>
      </div>
       
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">CARTERA BLUE SMILE</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
          <a href=""><img src="img/carteras/cart-estampa-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
          <img src="img/carteras/cart-estampa-2-2.png" alt="">
        </div></a>
      </div>
       
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">CARTERA ESTAMPADA</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
      <div class="vendido ">
         <a href=""><img src="img/carteras/cart-green-1-2.png" class="card-img-top img-beuty" alt="...">
        <div class="hover-vendido">
          <img src="img/carteras/cart-green-2-2.png" alt="">
        </div></a>
      </div>
        
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">CARTERA GREEN</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0  ">
      <div class="vendido">
        <a href=""><img src="img/carteras/cart-pinck-1-2.png" class="card-img-top img-beuty " alt="...">
       <div class="hover-vendido">
          <img src="img/carteras/cart-pinck-2-2.png" alt="">
        </div></a>
      </div>
       
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">CARTERA PINCK</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
        <a href=""><img src="img/carteras/cart-purpura-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
          <img src="img/carteras/cart-purpura-2-2.png" alt="">
        </div></a>
      </div>
      
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">CARTERA VIOLET</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
        <a href=""><img src="img/carteras/cart-yellow-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
          <img src="img/carteras/cart-yellow-2-2.png" alt="">
        </div></a>
      </div>
       
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">CARTERA YELLOW</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
</div>






<!-- LIBRERIA-->

<div class="">
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
      <div class="vendido">
        <a href=""><img src="img/libreria/agenda-1-2.png" class="card-img-top img-beuty" alt="...">
        <div class="hover-vendido">
          <img src="img/libreria/agenda-2-2.png" alt="">
        </div></a>
      </div>
       
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">AGENDA 2023</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
       <a href=""><img src="img/libreria/arco-color-1-2.png" class="card-img-top img-beuty " alt="...">
       <div class="hover-vendido">
        <img src="img/libreria/arco-color-2-2.png" alt="">
       </div></a>
      </div>
      
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">CARTUCHERA ARCOIRIS</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
      <div class="vendido">
       <a href=""><img src="img/libreria/colores-2-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
        <img src="img/libreria/colores-1-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">MARCADORES </p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
      <a href=""><img src="img/libreria/cuad-arcoiris-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
        <img src="img/libreria/cuad-arcoiris-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">CUADERNO ARCOIRIS</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
      <div class="vendido">
        <a href=""><img src="img/libreria/cuad-flor-1-2.png" class="card-img-top img-beuty" alt="...">
        <div class="hover-vendido">
          <img src="img/libreria/cuad-flor-2-2.png" alt="">
        </div></a>
      </div>
        
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">CUADERNO FLOWERS</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
        <a href=""><img src="img/libreria/estu-flor-1-2.png" class="card-img-top img-beuty " alt="...">
       <div class="hover-vendido">
        <img src="img/libreria/estu-flor-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">CARTUCHERA FLOWERS</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
      <div class="vendido">
        <a href=""><img src="img/libreria/kit-purpura-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
        <img src="img/libreria/kit-purpura-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">KIT DE LIBRERIA</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
       <a href=""><img src="img/libreria/sacapunta-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
        <img src="img/libreria/sacapunta-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">ESTUCHE SACA PUNTA</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
</div>





<!-- ACCESORIOS-->

<div class="">
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
      <div class="vendido">
        <a href=""><img src="img/accesorio/anillo-blue-1-2.png" class="card-img-top img-beuty" alt="...">
        <div class="hover-vendido">
         <img src="img/accesorio/anillo-blue-2-2.png" alt="">
        </div></a>
      </div>
        
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">ANILLO BLUE</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
         <a href=""><img src="img/accesorio/set-anillo-1-2.png" class="card-img-top img-beuty " alt="...">
       <div class="hover-vendido">
         <img src="img/accesorio/set-anillo-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">SET ANILLOS </p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
      <div class="vendido">
        <a href=""><img src="img/accesorio/aros-pink-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
         <img src="img/accesorio/aros-pink-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">AROS PINK</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
         <a href=""><img src="img/accesorio/aros-black-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
         <img src="img/accesorio/aros-black-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">AROS BLACK</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
      <div class="vendido">
        <a href=""><img src="img/accesorio/collar-cadena-1-2.png" class="card-img-top img-beuty" alt="...">
        <div class="hover-vendido">
         <img src="img/accesorio/collar-cadena-2-2.png" alt="">
        </div></a>
      </div>
        
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">COLLAR MULTICOLOR</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
        <a href=""><img src="img/accesorio/collar-arcoiris-1-2.png" class="card-img-top img-beuty " alt="...">
       <div class="hover-vendido">
         <img src="img/accesorio/collar-arcoiris-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">COLLAR MULTICADENA</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
      <div class="vendido">
         <a href=""><img src="img/accesorio/pulsera-color-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
         <img src="img/accesorio/pulsera-color-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">PULSERA MULTICOLOR</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
        <a href=""><img src="img/accesorio/set-pulsera-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
         <img src="img/accesorio/set-pulsera-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">SET PULSERA </p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
</div>

</div>
