<div>
   <img class="port-login" src="img/portadas/coleccion.png" alt=""> 
</div>

<!-- CARTERAS -->
<div class="container-fluid p-5 ">
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
        <a href=""><img src="img/carteras/ban-purpura-1-2.png" class="card-img-top img-beuty" alt="..."></a>
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">BANDOLERA PURPURA</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
       <a href=""><img src="img/carteras/cart-black-1-2.png" class="card-img-top img-beuty " alt="..."></a>
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">CARTERA BLACK NIGHT</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
       <a href=""><img src="img/carteras/cart-blue-1-2.png" class="card-img-top img-beuty" alt="..."></a>
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">CARTERA BLUE SMILE</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
       <a href=""><img src="img/carteras/cart-estampa-1-2.png" class="card-img-top img-beuty" alt="..."></a>
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">CARTERA ESTAMPADA</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
        <a href=""><img src="img/carteras/cart-green-1-2.png" class="card-img-top img-beuty" alt="..."></a>
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">CARTERA GREEN</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
       <a href=""><img src="img/carteras/cart-pinck-1-2.png" class="card-img-top img-beuty " alt="..."></a>
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">CARTERA PINCK</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
       <a href=""><img src="img/carteras/cart-purpura-1-2.png" class="card-img-top img-beuty" alt="..."></a>
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">CARTERA VIOLET</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
       <a href=""><img src="img/carteras/cart-yellow-1-2.png" class="card-img-top img-beuty" alt="..."></a>
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">CARTERA YELLOW</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
</div>

<!-- LIBRERIA-->

<div class="container-fluid p-5 ">
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
        <a href=""><img src="img/libreria/agenda-1-2.png" class="card-img-top img-beuty" alt="..."></a>
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">AGENDA 2023</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
       <a href=""><img src="img/libreria/arco-color-1-2.png" class="card-img-top img-beuty " alt="..."></a>
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">CARTUCHERA ARCOIRIS</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
       <a href=""><img src="img/libreria/colores-2-2.png" class="card-img-top img-beuty" alt="..."></a>
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">MARCADORES </p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
       <a href=""><img src="img/libreria/cuad-arcoiris-1-2.png" class="card-img-top img-beuty" alt="..."></a>
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">CUADERNO ARCOIRIS</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
        <a href=""><img src="img/libreria/cuad-flor-1-2.png" class="card-img-top img-beuty" alt="..."></a>
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">CUADERNO FLOWERS</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
       <a href=""><img src="img/libreria/estu-flor-1-2.png" class="card-img-top img-beuty " alt="..."></a>
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">CARTUCHERA FLOWERS</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
       <a href=""><img src="img/libreria/kit-purpura-1-2.png" class="card-img-top img-beuty" alt="..."></a>
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">KIT DE LIBRERIA</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
       <a href=""><img src="img/libreria/sacapunta-1-2.png" class="card-img-top img-beuty" alt="..."></a>
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">ESTUCHE SACA PUNTA</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
</div>
