<section>

            <img class="portada-img" src="../img/gift/portada-2.png" alt="">

            <div class="row caja-gift">
                <div class="col">
                    <div class="caja-img-gift">
                        <img class="gift-img" src="../img/gift/Gift01.png" alt="">
                    </div>
                    <div class="caja-precios">
                        <a href="#">
                            <p>GIFT CARD <br> $1500</p>
                        </a>
                    </div>


                </div>
                <div class="col">
                    <div class="caja-img-gift">
                        <img class="gift-img" src="../img/gift/Gift02.png" alt="">
                    </div>
                    <div class="caja-precios">
                        <a href="#">
                            <p>GIFT CARD <br> $2000</p>
                        </a>
                    </div>


                </div>
                <div class="col">
                    <div class="caja-img-gift">
                        <img class="gift-img" src="../img/gift/Gift03.png" alt="">
                    </div>
                    <div class="caja-precios">
                        <a href="#">
                            <p>GIFT CARD <br> $3000</p>
                        </a>
                    </div>


                </div>
                <div class="col">
                    <div class="caja-img-gift">
                        <img class="gift-img" src="../img/gift/Gift04.png" alt="">
                    </div>
                    <div class="caja-precios">
                        <a href="#">
                            <p>GIFT CARD <br> $4000</p>
                        </a>
                    </div>


                </div>

            </div>
        </section>