 <section class="carrusel">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#">
                            <img class="portada" src="./img/portadas/Portada01.png" class="d-block w-100" alt="...">
                        </a>

                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="portada" src="./img/portadas/Portada02.png" class="d-block w-100" alt="...">
                        </a>

                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="portada" src="./img/portadas/Portada03.png" class="d-block w-100" alt="...">
                        </a>

                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <!-- SECCION DE LO MAS NUEVO-->


        <section class="new-in">
            <div class=" ">
                <div class="row caja-new-in  cajas-new">
                    <div class="col p-right-0,2    ">
                        <a href="#">
                            <img class="img-new" src="./img/sec-index/COLLARES.png" alt="">
                        </a>
                    </div>
                    <div class="col  p-0 ">
                        <a href="#">
                            <img class="img-new" src="./img/sec-index/NEW IN.png" alt="">
                        </a>
                    </div>
                    <div class="col p-left-0,2 ">
                        <a href="#">
                            <img class="img-new" src="./img/sec-index/GORROS.png" alt="">
                        </a>
                    </div>
                </div>
            </div>



        </section>

        <!-- SECCION DE LO MAS DESTACADO-->

        <section class="lo-mas-vendido">
            <div class="contenedor">
                <div class="row mas-vendido">
                    <div class="col vendido">
                        <img src="./img/minicarru/labial01.png" alt="">
                        <div class="hover-vendido">
                            <img src="./img/minicarru/labial01-2.png" alt="">

                        </div>
                    </div>
                    <div class="col vendido">
                        <img src="./img/minicarru/anillos01.png" alt="">
                        <div class="hover-vendido">
                            <img src="./img/minicarru/anillos01-2.png" alt="">

                        </div>
                    </div>
                    <div class="col vendido">
                        <img src="./img/minicarru/labialesvarios01.png" alt="">
                        <div class="hover-vendido">
                            <img src="./img/minicarru/labialesvarios01-2.png" alt="">


                        </div>
                    </div>
                    <div class="col vendido">
                        <img src="./img/minicarru/gorros.png" alt="">
                        <div class="hover-vendido">
                            <img src="./img/minicarru/gorro01.png" alt="">


                        </div>
                    </div>


                </div>

            </div>




        </section>
        <!-- COMIENZO DEL NEWSLETTER -->
        <section class="caja-subscribir">
            <div class="subscribir">
                <h2 class="text-white ">
                    Subscribite al Newsletter
                </h2>
                <p class="text-white">Completa tus datos y obtene un 15% off en tu primera compra</p>
                <div class="caja-boton">
                    <button type="button" class="btn btn-dark"> <a href="#"> Subscribirte</a></button>
                </div>

            </div>


        </section>


