<div>
   <img class="port-login" src="img/portadas/libreria.png" alt=""> 
</div>
<div class="container-fluid p-5 ">
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
      <div class="vendido">
        <a href=""><img src="img/libreria/agenda-1-2.png" class="card-img-top img-beuty" alt="...">
        <div class="hover-vendido">
          <img src="img/libreria/agenda-2-2.png" alt="">
        </div></a>
      </div>
       
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">AGENDA 2023</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
       <a href=""><img src="img/libreria/arco-color-1-2.png" class="card-img-top img-beuty " alt="...">
       <div class="hover-vendido">
        <img src="img/libreria/arco-color-2-2.png" alt="">
       </div></a>
      </div>
      
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">CARTUCHERA ARCOIRIS</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
      <div class="vendido">
       <a href=""><img src="img/libreria/colores-2-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
        <img src="img/libreria/colores-1-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">MARCADORES </p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
      <a href=""><img src="img/libreria/cuad-arcoiris-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
        <img src="img/libreria/cuad-arcoiris-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">CUADERNO ARCOIRIS</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
<div class="row   g-4  text-center ">
  <div class="col ">
    <div class="card h-100 border border-0  ">
      <div class="vendido">
        <a href=""><img src="img/libreria/cuad-flor-1-2.png" class="card-img-top img-beuty" alt="...">
        <div class="hover-vendido">
          <img src="img/libreria/cuad-flor-2-2.png" alt="">
        </div></a>
      </div>
        
        <div class="card-body ">
        <a href="" class="nav-link active"><p class="card-text">CUADERNO FLOWERS</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
        <a href=""><img src="img/libreria/estu-flor-1-2.png" class="card-img-top img-beuty " alt="...">
       <div class="hover-vendido">
        <img src="img/libreria/estu-flor-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
       <a href="" class="nav-link active"><p class="card-text">CARTUCHERA FLOWERS</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0">
      <div class="vendido">
        <a href=""><img src="img/libreria/kit-purpura-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
        <img src="img/libreria/kit-purpura-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
        <a href="" class="nav-link active"><p class="card-text">KIT DE LIBRERIA</p>
        <h5 class="card-title">$5</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border border-0 ">
      <div class="vendido">
       <a href=""><img src="img/libreria/sacapunta-1-2.png" class="card-img-top img-beuty" alt="...">
       <div class="hover-vendido">
        <img src="img/libreria/sacapunta-2-2.png" alt="">
       </div></a>
      </div>
       
      <div class="card-body">
      <a href="" class="nav-link active"><p class="card-text">ESTUCHE SACA PUNTA</p>
        <h5 class="card-title P-0">$5</h5></a>
      </div>
    </div>
  </div>
</div>
</div>

