
<div>
   <img class="port-login" src="../img/Registrate/portada-3.png" alt=""> 
</div>
 

 <section class="caja-login-user p-5">
    

    <section class="caja-login ">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form >
                <label class="leb-login" for="chk" aria-hidden="true"> sign up</label>
                <input class="inp-login" type="text" name="txt" placeholder="user name" required="">
                <input class="inp-login" type="email" name="email" placeholder="email" required="">
                <input class="inp-login" type="Pasword" name="pswd" placeholder="Password" required="">
                <button class="boton-login">sign up</button>
            </form>
        </div>
        <div class="login">
            <form >
                <label class="leb-login"  for="chk" aria-hidden="true" > login</label>
                <input class="inp-login" type="email" name="email" placeholder="email" required="">
                <input class="inp-login" type="Pasword" name="pswd" placeholder="Password" required="">
                <button class="boton-login">login</button>
                
            </form>

        </div>

    </section>


</section>