 <header >

    <nav class="navbar navbar-expand-lg">
     <div class="container-fluid">
                <a class="navbar-brand" href="#"><img class="logo-nav" src="./img/logos/letras negra 2.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../about.hbs">Beauty</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="../coleccion.hbs" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Coleccion
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../carteras.hbs">Carteras</a></li>
                                <li><a class="dropdown-item" href="../accesorios.hbs">Accesorios</a></li>
                                <li><a class="dropdown-item" href="../libreria.hbs">Libreria</a></li>
                                <li><a class="dropdown-item" href="../coleccion.hbs">ver todo</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../giftcard.hbs">G-cards</a>
                        </li>
                    </ul>
                    <ul class="d-flex navbar-nav icono-menu" role="search">

                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="../login.hbs"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                                    class="bi bi-person-heart icono-nav" viewBox="0 0 16 16">
                                    <path
                                        d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z" />
                                </svg></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="#"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                    class="bi bi-search-heart-fill icono-nav " viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 13a6.474 6.474 0 0 0 3.845-1.258h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.008 1.008 0 0 0-.115-.1A6.471 6.471 0 0 0 13 6.5 6.502 6.502 0 0 0 6.5 0a6.5 6.5 0 1 0 0 13Zm0-8.518c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z" />
                                </svg></a>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="#"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                    class="bi bi-cart-fill icono-nav" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg></a>
                        </li>


                    </ul>
                </div>
     </div>
</nav>


 </header>
 
 
