<div>
   <img class="port-login" src="../img/Registrate/portada-3.png" alt=""> 
</div>



      

    
 

 <section class="caja-login-user p-">
    

    <section class="caja-login ">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form action="/users/signup" method="POST"  >
                <label class="leb-login" for="chk" aria-hidden="true"> Registrar</label>
                <input class="inp-login" type="text" name="name" placeholder="Nombre" value="{{name}}" >
                <input class="inp-login" type="email" name="email" placeholder="email" value="{{email}}">
                <input class="inp-login" type="password" name="password" placeholder="password" >
                <input class="inp-login" type="password" name="confirm_password" placeholder="confirm_password" >
                <button class="boton-login">Aceptar</button>
            </form>
        </div>
       

    </section>


</section>