<div>
   <img class="port-login" src="../img/Registrate/portada-3.png" alt=""> 
</div>


 <div class="login">
            <form action="/users/signin" method="POST" >
                <label class="leb-login"  for="chk" aria-hidden="true" >Ingresar</label>
                <input class="inp-login" type="email" name="email" placeholder="email" required="">
                <input class="inp-login" type="Pasword" name="pswd" placeholder="contraseña" required="">
                <button class="boton-login">Acceder</button>
                
            </form>

        </div>